.card {
  width: 176px;
  height: 186px;
  background: #fff;
  border-radius: 8px;
  padding: 24px 20px;
}

.iconContainer {
  width: 50px;
  height: 50px;
  border-radius: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.icon {
  font-size: 24px;
}

.countContainer h6 {
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: rgba(0, 0, 0, 0.85);
  margin-bottom: 8px;
}
